section.person 
  .container
    .person__info
      h3.regular_title #{person.title}
      h4.regular_title(class="person-subtitle") #{person.subtitle}
      p.person__prg #{person.prg1}
      p.person__prg(class="prg-small") #{person.prg2}
    img.person__img(src=person.img)